<div class="container col-md-6 col-md-offset-3">
  <ul class="list-group">
    Iterate over the model collection here. Use the tests and the instructions in the REAMDE to get the formatting right.
  </ul>
</div>
