<div class="well col-sm-4 col-sm-offset-4" style="text-align: center;">
<h4>{{model.title}}</h4>  
  <p>{{model.url}}</p> 
  <p>topic: {{model.topic}}</p> 
  <p id="description">description: {{model.description}}</p>
</div>

